<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        class="sr-only peer"
        [checked]=" selectedValue"
        (change)=" select() "
    />
    <div
        class="group peer bg-white rounded-full duration-300 w-8 h-4 ring-2 
            ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500
            after:rounded-full after:absolute after:size-3 after:top-0.5 after:left-0.5 after:flex after:justify-center after:items-center
            peer-checked:after:translate-x-4 peer-hover:after:scale-95"
    ></div>
  </label>