<form [formGroup]="formUpdateUser" (submit)=" handleSubmitUpdateUser() " class="flex flex-col gap-8">

    <div 
        class="flex flex-col gap-8 p-4 rounded-xl bg-linear-240 to-50% shadow text-gray-200"
        [class]="`from-${userService.userData?.color}-800  to-${userService.userData?.color}-900`"
    >

        <label>
            <span class="mx-5">Empleado:</span>
            <input
                type="text"
                [value]="userService.userData?.numempleado"
                class="px-3 py-1 outline-0 rounded ring ring-gray-400 text-gray-300 cursor-no-drop"
                [class]="`bg-${userService.userData?.color}-950`"
                disabled
            >
            <svg width="18px" height="18px" viewBox="0 0 24 24" class="inline mx-1 mb-1 text-gray-300">
                <path fill="currentColor" d="M12 13a1.49 1.49 0 0 0-1 2.61V17a1 1 0 0 0 2 0v-1.39A1.49 1.49 0 0 0 12 13m5-4V7A5 5 0 0 0 7 7v2a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3M9 7a3 3 0 0 1 6 0v2H9Zm9 12a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1Z"></path>
            </svg>
        </label>
    
        <label>
            <span class="mx-5">id:</span>
            <input
                type="text"
                [value]="userService.userData?.id"
                class="w-1/2 px-3 py-1 outline-0 rounded ring ring-gray-400 text-gray-300 cursor-no-drop"
                [class]="`bg-${userService.userData?.color}-950`"
                disabled
            >
            <svg width="18px" height="18px" viewBox="0 0 24 24" class="inline mx-1 mb-1 text-gray-300">
                <path fill="currentColor" d="M12 13a1.49 1.49 0 0 0-1 2.61V17a1 1 0 0 0 2 0v-1.39A1.49 1.49 0 0 0 12 13m5-4V7A5 5 0 0 0 7 7v2a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3M9 7a3 3 0 0 1 6 0v2H9Zm9 12a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1Z"></path>
            </svg>
        </label>

    </div>

    <div
        class="flex flex-col gap-8 p-4 rounded-xl bg-linear-240 to-50% shadow text-gray-200"
        [class]="`from-${userService.userData?.color}-800  to-${userService.userData?.color}-900`"
    >

        <label>
            <span class="mx-5">Nombre:</span>
            <input
                formControlName="nombre"
                type="text"
                class="px-3 py-1 outline-0 rounded text-white ring ring-gray-400 focus:ring-white"
                maxlength="20"
            >
        </label>
    
        <label>
            <span class="mx-5">Alias:</span>
            <input
                formControlName="alias"
                type="text"
                maxlength="2"
                (input)="aliasToUpperCase()"
                class="px-3 py-1 outline-0 rounded text-white ring ring-gray-400 focus:ring-white"
            >
        </label>
    
        <label>
            <span class="mx-5">Contraseña:</span>
            <a
                [routerLink]="['../privacidad']"
                class="px-4 py-1 rounded-md hover:-translate-y-1.5 transition-transform absolute shadow text-white"
                [class]="`bg-${userService.userData?.color}-500 `"
            >Cambiar Contraseña</a>
        </label>
    
        <label class="flex gap-3 mx-5 items-center">
            <span>Seleccionar Avatar:</span>
            <avatar-selector formControlName="avatar" />
        </label>
    
        <div class="w-fit mx-5">
            <span>Color:</span>
            
            <div class="px-5 py-2 w-64">
                <radio-colors formControlName="color" />
            </div>
    
        </div>

    </div>

    <div class="flex justify-end mx-10">
        <button
            type="submit"
            class="px-7 py-2 text-white rounded-md cursor-pointer hover:-translate-y-1.5 transition-transform"
            [class]="` bg-${userService.userData?.color}-500`"
        >Guardar Cambios</button>
    </div>


</form>


<p-toast key="UserProfileViewToast" />