<form
    class="p-4 shadow bg-gray-100 flex gap-2"
    [formGroup]="formulario"
    (submit)="handlerSubmit()"
>
    <input
        type="text"
        placeholder="Type message here"
        formControlName="message"
        class="w-full p-2 bg-white rounded-full outline-none focus:ring-2 ring-violet-400 placeholder:text-gray-400"
    />
    
    <button class="rounded-full bg-violet-500 w-10 h-10 flex justify-center items-center text-white hover:bg-violet-600 cursor-pointer">
        <svg width="1em" height="1em" viewBox="0 0 14 14"><path fill="currentColor" fillRule="evenodd" d="M11.821.098a1.62 1.62 0 0 1 2.077 2.076l-3.574 10.712a1.62 1.62 0 0 1-1.168 1.069a1.6 1.6 0 0 1-1.52-.434l-1.918-1.909l-2.014 1.042a.5.5 0 0 1-.73-.457l.083-3.184l7.045-5.117a.625.625 0 1 0-.735-1.012L2.203 8.088l-1.73-1.73a1.6 1.6 0 0 1-.437-1.447a1.62 1.62 0 0 1 1.068-1.238h.004z" clipRule="evenodd"/></svg>
    </button>
</form>

<p-toast key="inputNewMessageToast" />