<div
    class="w-72 h-96 bg-white dark:bg-black rounded-xl transition-transform overflow-hidden shadow inset-shadow-sm
            hover:-translate-y-2 hover:shadow-xl
            active:animate-ping
            border-t-10 border-gray-300 dark:border-gray-600
    "
>
    <div class="flex flex-col h-full">

        <p-skeleton width="288px" height="185px" />

        <div class="p-5 flex flex-col justify-center items-center gap-2">
            <p-skeleton class="mb-2" />
            <p-skeleton class="mb-2" />
        </div>
    </div>
</div>
