<div class="flex flex-col h-full">
    <div class="flex flex-col gap-10 items-center grow shadow">
    <p class="p-10 text-center text-gray-400 text-3xl">Uups!... Parece que la invitación que estás intentando usar ya no está disponible</p>
    <div class="h-full flex justify-center items-center">
        <a
            [routerLink]="['/chatApp']"
            class="py-4 px-10 rounded-full bg-violet-400 text-white w-fit cursor-pointer hover:bg-violet-500 active:scale-95"
        >Regresar al Menú</a>
    </div>
</div>